@media only screen and (min-width: 800px){
    *{
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
    }
  body{
      margin: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
      background-color:white;
      
  }
  
  /* top nav begings */
  .topnav {
      overflow: hidden;
      background-color: white;
      padding-top: 30px;
  
    }
  
    .asdf{
      font-family: fantasy;
      font-size: 50px;
      color: black;
    }
    
    .topnav a {
      float: left;
      display: block;
      color:rgb(1, 48, 1);
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 12px;
      position: sticky;
      margin-left: 30px;
    }
  
   
    .topnav a:hover {
      text-decoration: underline;
    }
    
    .topnav .icon {
      display: none;
      color: black; 
    }
  
    .lkjh{
      font-size: 13px;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  
  
  /* top navigation ends */
  
  /* section1 */ 
  
  /* type writer */
  #ww{
    margin-left: 10px;
    margin-top: 63px;
  }
  #ww p{
    font-style: italic;
    color: black;
  }
  .re h1{
      font-size: 27px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 85px;
      color: rgb(74, 74, 219);
      text-align: center;
      font-family: fantasy;
    
  }
  
  .rre img{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 60px;
    width: 50%;
  }
    
  
  .tty{
      background-color: rgb(74, 74, 219);
      padding-top: 40px;
      padding-bottom: 40px;
      color: white;
  }
  
  .ty{
      text-align: center;
  }
  
  
  /* caard design */
  .column {
      margin-top: 30px;
      float:left;
      width: 90%;
      padding: 10px;
      margin-left:5%;
      margin-right:5%
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
      align-content: center;
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 2px 4px;
      padding: 16px;
      text-align: center;
      background-color: whitesmoke;
    }
     
    
    .tp{
      color: white;
      background-color:rgb(74, 74, 219); 
      padding: 7px 7px;
      text-decoration:none;
      display: inline-block;
      margin-top: 10px;
    }
  
    .yo{
      margin-top: 4px;
      margin-bottom: 30px;
    }
  
    .hh{
      margin-top: 20px;
      margin-bottom:30px
    }
  
    #fg{
      margin-left: 30px;
      padding-top: 30px;
      color: rgb(74, 74, 219);
    }
  
    /* column for my works*/
    * {
      box-sizing: border-box;
    }
    
    /* Create 3 equal columns that floats next to each other */
    .columnn {
      float: left;
      padding-top: 30px;
      margin-left: 10px;
      position: relative;
    }
  
    .columnn img{
      border-radius: 10px;
    }
  
    .bottom-left{
      position: absolute;
      bottom: 8px;
      left: 2px;
      background-color:  rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */;
      width: 87%;
      color: #f1f1f1;
      padding: 10px;
    }
    
    /* Clear floats after the columns */
    .rown:after {
      content: "";
      display: table;
      clear: both;
    }
  
    .lin{
      text-align: center;
     margin-top: 14px;
      border-radius: 30px;
      color: black;
      display: inline-block;
      border: 3px solid rgb(74, 74, 219);
      padding: 8px 8px;
      text-decoration: none;
      margin-bottom: 30px;
    }
  
    .llin{
      text-align: center; 
    }
  
    #lop{
      margin-left: 30px;
    }
  
   
  
    .lop{
      background-color: rgb(74, 74, 219);
      color: white;
      text-align: center;
      font-family:sans-serif;
      padding-top: 20px;
      padding-bottom: 20px;
  
    }
  
    .container {
      border: 2px solid #ccc;
      background-color: #eee;
      border-radius: 5px;
      padding: 16px;
      margin: 16px 0;
      padding-top: 30px;
    }
    
    .container::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .container img {
      float: left;
      margin-right: 20px;
      border-radius: 50%;
    }
    
    .container span {
      font-size: 20px;
      margin-right: 15px;
    }
  
   #lol{
     color: grey;
     font-style: italic;
     font-family: fantasy;
     padding: 15px 15px;
     margin-left: 40px;
   }
  
   
   /* contact section */
   /* Create two equal columns that floats next to each other */
  .columnnn {
    float: left;
    width: 100%;
    padding: 10px;
    height: 150px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .rownn:after {
    content: "";
    display: table;
    clear: both;
   
  }
  
  #lopo{
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .opy{
    margin-left: 15px;
  }
  
  .opyy{
    margin-left: 15px;
    margin-top: 20px;
  }
  
  .dfg{
    background-color:rgb(74, 74, 219);
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  footer{
    color: white;
    text-align: center;
  }
  
  footer p{
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
  }
  
  .pk{
    margin-left: 15px;
  }
  
  .pkk{
    text-align: right;
    padding-top: 40px;
  }
  
  #pk{
    margin-top: -5px;
  }
  /* social media button */
  .fa {
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram {
    background: rgb(245, 29, 29);
    color: white;
  }
  
  .fa-twitter {
    background: #01070c;
    color: white;
  }
  
  
  
  
  }
  
      